*.swp
*.beam
.DS_Store
.class
build/
.gradle/
.idea/
*.iml
bin/configlet
bin/configlet.exe
/exercises/.nb-gradle/
**/out
exercises/.project
exercises/.settings/
exercises/*/bin
exercises/*/.classpath
exercises/*/.project
exercises/*/.settings/
resources/exercise-template/bin
resources/exercise-template/.classpath
resources/exercise-template/.project
resources/exercise-template/.settings/
*.class
