# Autodetect text files
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.* text eol=lf

# Force images/fonts to be handled as binaries
*.jpg binary
*.jpeg binary
*.png binary
