*.swp
*.beam
.DS_Store
.class
build/
.gradle/
.idea/
*.iml
bin/configlet
bin/configlet.exe
/exercises/.nb-gradle/
**/out
exercises/.project
exercises/.settings/
exercises/*/bin
exercises/*/.classpath
exercises/*/.project
exercises/*/.settings/
exercises/gradle/
exercises/gradlew
exercises/gradlew.bat
_template/bin
_template/.classpath
_template/.project
_template/.settings/
_template/gradle/
_template/gradlew
_template/gradlew.bat
*.class