name: Java

on:
  pull_request:
    paths:
      - "**/*.java"
      - "**/*.gradle"
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Check if tests compile cleanly with starter sources
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938
      - name: Set up JDK 1.17
        uses: actions/setup-java@b36c23c0d998641eff861008f374ee103c25ac73
        with:
          java-version: 17
          distribution: "temurin"
      - name: Check if tests compile cleanly with starter sources
        run: ./gradlew compileStarterTestJava --continue
        working-directory: exercises

  lint:
    name: Lint Java files using Checkstyle
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938
      - name: Set up JDK 1.17
        uses: actions/setup-java@b36c23c0d998641eff861008f374ee103c25ac73
        with:
          java-version: 17
          distribution: "temurin"
      - name: Run checkstyle
        run: ./gradlew check --exclude-task test --continue
        working-directory: exercises

  test:
    name: Test all exercises using java-test-runner
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938
      - name: Test all exercises using java-test-runner
        run: bin/test-with-test-runner
      - name: Archive test results
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882
        with:
          name: test-results
          path: exercises/**/build/results.json
        if: failure()
